<section class="mt-5 pt-5">

  <h1 class="text-center title d-flex justify-content-center align-items-center">
    <!-- <img class="me-2" src="assets/md.trans.logo.svg" alt="Meta Detactive" width="72px"> -->
    Meta
    &nbsp;
    <span class="text-secondary"><i class="bi bi-incognito"></i></span>
    &nbsp;
    Detactive
  </h1>

  <p class="text-center text-dark opacity-50">Unveil the Secrets of Your Web Pages</p>

</section>

<section>
  <app-search></app-search>
</section>

<section class="mt-5">
  <app-content></app-content>
</section>